* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

p {
  font-size: 16px; }

html,
body {
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  text-align: center; }

.main {
  margin: 80px auto 0;
  max-width: 1000px;
  display: flex;
  flex-flow: row nowrap; }

.main h1 {
  font-weight: 400; }

.main ul {
  padding-left: 40px; }

.main li {
  padding-bottom: 10px; }

.main--left--column {
  padding: 0 10px; }

.main--left--column a {
  font-weight: 600; }

.main--left--column p {
  margin: 15px 0; }

.main--right--column {
  padding-right: 15px; }

footer {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  position: absolute;
  bottom: 0; }

.main--footer--list {
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;
  font-size: 14px; }
  .main--footer--list li {
    float: left;
    margin-right: 15px;
    padding: 15px 0; }
    .main--footer--list li a {
      text-decoration: none;
      color: #4285f4;
      font-size: bold; }

.auth-container {
  margin: 0 auto 50px;
  width: 400px;
  display: flex;
  flex-flow: column wrap; }

.hide {
  display: none; }

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  height: 60px; }

.buttons-wrapper div {
  height: 100%;
  width: 50%;
  transition: background .3s; }

.buttons-wrapper div p {
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
  color: #2e2e2e;
  text-align: center;
  height: 100%; }

.buttons-wrapper div:hover {
  background: white;
  border-bottom: 2px solid #1a4caa; }

form input,
form label {
  font-size: .9em;
  display: block;
  width: 100%; }

form label {
  margin: 10px 0; }

.password--settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.password--settings input,
.password--settings a,
password--settings label {
  flex: 1 0 auto;
  width: auto; }

.forgot-password-p {
  margin: 20px 0;
  font-size: .9em; }

form button {
  background-color: #1aaa55;
  color: white;
  padding: 10px;
  border: 0px solid black;
  transition: background-color .2s;
  cursor: pointer;
  width: 100%;
  font-size: .8em;
  line-height: 1em; }

form button:hover {
  background-color: green; }

.social {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  box-shadow: 0 0 0 1px #e5e5ff;
  padding: 10px; }

.social img + img {
  margin-left: 15px; }

.social p {
  margin-right: 15px; }

.social form {
  display: flex;
  align-items: center;
  width: 100%; }

.social form input {
  width: auto; }

.sign-in-container,
.sign-up-container {
  box-shadow: 0 0 0 1px #e5e5ff;
  padding: 15px; }

.captcha {
  margin: 15px 0; }

.sign-up-button {
  background-color: #1a4caa;
  color: white;
  padding: 10px;
  border: 0px solid black;
  transition: background-color .2s;
  cursor: pointer;
  width: 100%;
  font-size: .8em;
  line-height: 1em; }

.sign-up-container .sign-in-form .settings {
  display: flex; }
  .sign-up-container .sign-in-form .settings input {
    width: auto; }
  .sign-up-container .sign-in-form .settings label {
    width: auto; }
